<div id="firstContainer" class="d-flex flex-column justify-content-start mx-auto">
    <div id="secondContainer" class="d-flex flex-row justify-content-around mx-auto">
        <app-marsu-details></app-marsu-details>
        <app-friends-list [createStatus]='createStatus'></app-friends-list>
    </div>
    <div id="thirdContainer" class="d-flex flex-row justify-content-around w-100 mx-auto">
        <app-logout></app-logout>
        <app-create-friend (createStatus)='updateStatus($event)'></app-create-friend>
    </div>
</div>